@model Transcoma.Models.Account.Usuario
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transcoma</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Transcoma</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Nosotros</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactanos</a></li>
                </ul>
                @* Habilitando seccion superior derecha *@
                <ul class="nav navbar-nav navbar-right">
                    <li><label style=" font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: normal; color:white;margin-right:20px; margin-left:2.5%; margin-top:15px; margin-bottom:auto">Usuario:<b>@Model._nombreUsuario</b></label></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Salir</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy;Copyright @DateTime.Now.Year – Transcoma Grupo Empresarial – Aviso Legal
                <a href="https://www.grupotranscoma.com/aviso-legal-y-politica-de-cookies/"></a>
            </p>
            <div class="textwidget" style="text-align:left; margin-left:5%;">
                <div class="separator  transparent" style="margin-top: 3px;margin-bottom: 0px;height: 0px;"></div>

                <img src="~/images/logo-grupo-transcoma-footer.png" alt="logo">
                <div class="separator  transparent   " style="margin-top: 30px;margin-bottom: 0px;height: 0px;"></div>
                <span data-type="circle" data-hover-bg-color="#0e3e67" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_stack fa-lg  " style="font-size: 17px;font-size: 29px;margin: 0 -6px 0 0; "><a itemprop="url" href="https://twitter.com/transcomagrupo" target="_blank"><i class="fa fa-circle fa-stack-base fa-stack-2x" style="color: #2b2b2b;"></i><span aria-hidden="true" class="qode_icon_font_elegant social_twitter qode_icon_element fa-stack-1x" style="font-size: 17px;color: #ffffff;"></span></a></span><span data-type="circle" data-hover-bg-color="#0e3e67" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_stack fa-lg  " style="font-size: 17px;font-size: 29px; "><a itemprop="url" href="https://www.linkedin.com/company-beta/3720205/" target="_blank"><i class="fa fa-circle fa-stack-base fa-stack-2x" style="color: #2b2b2b;"></i><span aria-hidden="true" class="qode_icon_font_elegant social_linkedin qode_icon_element fa-stack-1x" style="font-size: 17px;color: #ffffff;"></span></a></span><span data-type="circle" data-hover-bg-color="#0e3e67" data-hover-icon-color="#ffffff" class="qode_icon_shortcode fa-stack q_font_awsome_icon_stack fa-lg  " style="font-size: 17px;font-size: 29px;margin: 0 -6px 0 0; "><a itemprop="url" href="https://www.youtube.com/channel/UCQrF3CPlvSg63bd02Smeu0w" target="_blank"><i class="fa fa-circle fa-stack-base fa-stack-2x" style="color: #2b2b2b;"></i><span aria-hidden="true" class="qode_icon_font_elegant social_youtube qode_icon_element fa-stack-1x" style="font-size: 17px;color: #ffffff;"></span></a></span>
                <span aria-hidden="true" class="qode_icon_font_elegant social_twitter qode_icon_element fa-stack-1x" style="font-size: 17px;color: #ffffff;"></span>
            </div>
        </footer>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
